processor.entityDefineSuffix=Define
processor.entityDefinePackageName=..dao.define

processor.mapperSuffix=Mapper
processor.mapperPackageName=..dao.mapper
# processor.mapperSuperclassName=com.tangzc.mpe.demo.processor.mapper.SuperMapper

processor.repositorySuffix=Repository
processor.repositoryPackageName=..dao.repository
